// screen size
$mobileSize: 390px;
$tabletSize: 834px;
$desktopSize: 1920px;

//colors
$blue: #4F8FF0;
$white:#ffffff;
$light-gray: #8C8C8C;
$dark-gray: #222222;


// font
$font:'Nunito Sans', sans-serif;

